@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arsenal';
  src: url('/fonts/Arsenal_SC/ArsenalSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playwrite';
  src: url('/fonts/Playwrite_AU_SA/PlaywriteAUSA-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.wrapper {
  height: 100vh;
  width: 100%;
  /* background-color: green; */
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 2rem;
}

header {
  position: relative;
  display: flex;
  height: 90%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateZ(-2rem) scale(2);
}


.photo-block {
  position: sticky;
  top: calc(30% - 30vh);
  height: 100vh;
	width: 100%;
	display: grid;
  overflow: hidden;
  background: var(--gray-6);
}

.photo-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(38deg);
  display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.photo {
  aspect-ratio: 3 / 4;
  width: 20vmax;
}

.collage {
  height: 200vh;
  view-timeline: --collage;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo:nth-of-type(7n + 1):nth-of-type(even),
.photo:nth-of-type(7n + 3):nth-of-type(even),
.photo:nth-of-type(7n + 5):nth-of-type(even),
.photo:nth-of-type(7n + 7):nth-of-type(even) {
  --vertical: -100%;
  --horizontal: 100%;
}
.photo:nth-of-type(7n + 1):nth-of-type(odd),
.photo:nth-of-type(7n + 3):nth-of-type(odd),
.photo:nth-of-type(7n + 5):nth-of-type(odd),
.photo:nth-of-type(7n + 7):nth-of-type(odd) {
  --vertical: -100%;
  --horizontal: -100%;
}

.photo:nth-of-type(7n + 2):nth-of-type(even),
.photo:nth-of-type(7n + 4):nth-of-type(even),
.photo:nth-of-type(7n + 6):nth-of-type(even) {
  --vertical: 100%;
  --horizontal: -100%;
}

.photo:nth-of-type(7n + 2):nth-of-type(odd),
.photo:nth-of-type(7n + 4):nth-of-type(odd),
.photo:nth-of-type(7n + 6):nth-of-type(odd) {
  --vertical: 100%;
  --horizontal: 100%;
}

.photo {
  animation-name: travel;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-timeline: --collage;
  animation-range: entry 100% exit 0%;
}

@keyframes travel {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 var(--vertical);
  }
  100% {
    translate: var(--horizontal) var(--vertical);
  }
}

p{
  font-family: "Dosis";
}
h1{
  font-family:"Arsenal"
}
.--dropitemsmenmainnavbar:hover ~ ul,
.--dropitemsmenmainnavbar:focus ~ ul,
.--dropitemsmenmainnavbar:active ~ ul{
  display: block;
  height: 10.5em;
}
.--dropitemsmenmainnavbar ~ ul:hover{
  display: block;
  height: 10.5em;
}
.swalling{
  transition: all 0.25s;

}
.swalling:hover{
  transform: scale(1.1);
}
.--heroSectionLogo{
  opacity: 1;
  transition: all 0.5s;
  animation: reveal 1s 0s alternate 1;
}
@keyframes reveal {
  0%{
    transform: scale(0);
    opacity: 0;
  };
  50%{
    scale: scale(0.5);
    opacity: 0.5;
  };
  80%{
    scale: scale(1.1);
    opacity: 0.75;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  };
  
}
